.benefit {
  text-align: center;
}

.benefit__image-wrapper{
  display: inline-block;
  width: 126px;
  height: 126px;
  position: relative;
  background: #f2f5f4;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon{
  width: 75px;
  height: 69px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}