.btn {
  font-size: 19px;
  font-weight: bold;
  padding: 18px 35px;
  text-transform: uppercase;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none;

  &--theme--transparent{
    background: transparent;
    color: black;
    text-transform: none;

    &:hover{
      color: $darkGreen;
    }
  }

  &--theme--green{
    background: $darkGreen;
    color: white;

    &:hover{
      color: $darkGreen;
      background: white;
    }
  }

  &--theme--white{
    background: white;
    color: $darkGreen;

    &:hover{
      background: $darkGreen;
      color: white;
    }
  }

  &:focus{
    outline: none;
    border: none;
  }
}