.form{
  display: flex;
}

.form__col{
  flex:1;
  margin-right: 20px;

  &:last-child{
    margin-right: 0;
  }
}

.form__row{
  display: flex;
  margin-bottom: 18px;
}

.form__block{
  flex:1;
  margin-right: 20px;

  &:last-child{
    margin-right: 0;
  }
}

.form__input{
  width: 100%;
  border: solid 3px transparent;
  padding: 18px 11px;

  &--textarea{
    height: 180px;
    resize: none;
    margin-bottom: 38px;
  };

  &:focus{
    border-color: #dee2bd;
    outline: none;
  }
}

.form__controls{
  display: flex;
  flex-wrap: wrap;
}