.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;

  @include tablets {

  }
}
.phone-number.header__phone-number{
  @include tablets {
    display: none;
  }

}

.menu {
  max-width: rem(657px);
  width: 100%;
  margin: 0 30px;

  @include tablets {
    display: none;
  }
}
.menu__list{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  flex-wrap: wrap;

}

.menu__link{
  text-decoration: none;
  color: white;
  white-space: nowrap;
}

.menu__item{
  margin-right: rem(18px);
  &:last-child{
    margin-right: 0;
  }
}

.phone-number {
  font-size: rem(24px);
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}

.phone-number__icon-elem{
  width: rem(12px);
  height: rem(12px);
  fill: white;
  margin-right: rem(6px);
}

.phone-icon{
  width: 20px;
  height: 20px;
  fill: white;
  margin-right: 5px;
}

.phone-number__text {
  white-space: nowrap;
  flex-shrink: 0;


}

.contacts__phone--green svg{
  fill: $darkGreen !important;
}

.contacts__phone--green .phone-number {
   color: $darkGreen ;

  @include phones{

    display: flex;
    justify-content: center;

  }

}