.hero{
  position: relative;
  background: url("../img/decor/big-leaf.png") right bottom no-repeat;
  background-color: $blue;
  height: 100vh;
  min-height: 650px;
  color: #fff;

  &:before{
    position: absolute;
    bottom: -40px;
    left: 12%;
    content: url("../img/decor/corner-leaf.png");
  }
  &:after{
    position: absolute;
    bottom: -40px;
    right: 0;
    content: url("../img/decor/berries-and-leaves.png");
  }
}
.hero__title-section{
  width: 46%;
}
.hero__container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 24px 0 45px;
  background: url("../img/decor/chocolates.png") right center / 50% auto no-repeat;
  max-width: 940px;
  margin: 0 auto;
}

.hero__main-title{
  font-size: 48px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.hero__title-desc{
  font-size: 21px;
  margin-bottom: 28px;
  padding-right: 10%;
}