.teamList-container{
    z-index: 10;
}

.teamList{
    display: flex;
    justify-content: space-around;
    z-index: 10000;


    @include tablets{
        flex-direction: column;
        align-items: center;
    }
}



.teamMember{
    display: flex;
    flex-direction: column;
    max-width: 290px;
    width: 100%;
    margin-right: 20px;

    @include tablets{
        margin: 0;
    }

    &:last-child{
        margin-right: 0;
    }

    &__avatar {
        transition: all ease .5s;

        img{
        width: 100%;
        margin-bottom: 10px;
        }

        @include tablets{
            width: 50%;
            margin: 0 auto;
            order:1;
            height: 0;
            visibility: hidden;
            opacity: 0;

            &--active{
                height: auto;
                visibility: visible;
                opacity: 1;

            }
        }
    }

    &__name{
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        color: #292929;
        margin: 0 auto;
 

        svg{
            width: 8px;
            height: 8px;
            margin-left: 5px;
            transition: all ease .5s;
        }

        &--active svg{
            transform: rotate(-180deg);
        }

        @include tablets {
            margin-bottom: 10px;
        }
    }

    &__desc{
        visibility: hidden;
        opacity: 0;
        transition: all ease .5s;

        @include tablets{
            height: 0;
            order:2;

        }

        &--active{
            visibility: visible;
            opacity: 1;

            @include tablets{
                height: auto;
            }
        }
    }


    &__prof {
        font-size: 0.8rem;
        display: block;
        text-align: center;
    }

    &__skills{
        text-align: center;
        display: block;
    }

    @include tablets{
        margin-bottom: 10px;
    }

}